
table, thead, tr, th, td{
    background: transparent !important;
}

th{
    color: gray !important;
    font-weight: normal;
    font-size: small;
}
.prod-det > p{
    padding: 0;
    margin: 0;
}
.prod-var{
    color: grey;
    font-size: small;
}
.qty > button{
    height: max-content;
    width: max-content;
}
input[type="number"]{
    padding: 10px !important;
}