.designers{
    /* margin: 50px 50px; */
    background-color: rgb(243, 240, 240);
    margin: 0 !important;
}
.designers-content{
    padding: 100px 40px;
}
.designers-content h3{
    font-size: 50px;
}
.designers-content p{
    color: rgb(98, 94, 94);
    padding: 0px 0px 40px 0px;
}
.designers-profile{
    padding: 0px 0px;
    
}
.designers-img > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.designers-text{
    padding: 10px 0px;
}
.designers-text p{
    padding: 0px 0px;
    margin: 0px 0px 5px 0px !important;
    line-height: normal;
    font-weight: light;
    color: rgb(136, 134, 134);
    font-size: small;
}

.dsg-container{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
    min-height: 280px;
    
    width: 250px;
    padding: 20px;
    background-color: rgb(243, 239, 239);
    margin: 10px;
}
.dsg-img-container > img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 150px !important;
    object-fit: cover;
}
.dsg-content h5{
    color: rgb(95, 92, 92);
    font-weight: bold;
    font-size: larger;
    margin: 0;
}
.dsg-content > p{
    color: rgb(141, 137, 137);
    line-height: 18px;
    margin-top: 0px;
}
.follows{
    font-size: small;
}
.follows > .followers, .likes{
    color: grey;
    font-weight: bold;
}