.navigation > span{
    background-color: aqua;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: small;
}

.prodimage-container{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    padding: 50px;
}

.stock-status{
    border-radius: 5px;
    background-color: aqua;
    padding: 5px 10px;
}
.select{
    width: 100px;
    height: 40px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}
.selectform{
    width: 100%;
    background-color: aqua;
    padding-top: 10px;
}


[role="presentation"] > button{
    background: none !important;
    color: black;
}

[role="presentation"] > .active{
    font-weight: bold;
    color: black !important;
}
[role="presentation"] > .active:hover{
    text-decoration: none !important;
    font-weight: bold !important;
    color: black !important;
}

label{
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto !important;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* background box */
  padding: 10px;
  z-index: 2;
  border-radius: 4px;
}

.carousel-control-prev {
  left: 0;
  margin-left: 0; /* remove Bootstrap margin */
}

.carousel-control-next {
  right: 0;
  margin-right: 0; /* remove Bootstrap margin */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  filter: invert(1); /* make icon white on dark bg */
}
