
.img-container{
    height: 280px;
    width: 250px;
    /* background-color: rgb(220, 222, 225); */
    border-radius: 20px;
    margin-bottom: 70px;
    margin-right: 0 !important;
}
.img-container > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    
}
.img-container > p{
    margin-top: 10px;
    color: rgb(117, 114, 114);
    
}
.filter-item{
    background-color: rgb(209, 207, 204);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: x-small;
    cursor: pointer;
}
.image-title{

}

.navfilter{
    position: sticky;
    top: 70px;
    z-index: 1020;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-shadow: 0px 10px 18px 1px rgba(0,0,0,0.14); */
    /* border-radius: 20px; */
}

.sticky-filter {
    position: sticky;
    top: 70px; /* height of your main navbar */
    z-index: 1030;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}