
:root {
    --curve-edge: 5px;
    --lightgrey: rgb(202, 204, 206);
}
.skeleton-back{
    background-color: rgb(202, 204, 206);
}

.hero{
    border-radius: var(--curve-edge);
    height: 50vh !important;
    width: fit-content !important;
    position: relative;
    margin-top: 0px;
}
.herobtns{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it perfectly */
    display: flex;
    gap: 10px; /* Space between buttons */
    z-index: 2; /* Make sure it's above carousel images */
    
}
.herobtns > button{
    margin-right: 10px;
}

.placebtn,
.sewbtn {
    background-color: rgba(0, 0, 0, 0.4); /* translucent black */
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: var(--curve-edge);
    font-size: small;
    cursor: pointer;
    transition: 0.3s ease;
}

.placebtn:hover,
.sewbtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cat-active
{
    color: black !important;
}
.home-categories > span{
    padding: 20px;
    color: grey;
    text-transform: uppercase;
}

.product{
    background-color: rgb(202, 204, 206);
    height: 35vh;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: var(--curve-edge);
}
.product img{
    border-top-left-radius: var(--curve-edge);
    border-top-right-radius: var(--curve-edge);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image{
   
    background-color: rgb(202, 204, 206);
    height: 50vh;
    width: 100%;
    border-radius: 10px;
}
.image-kaftan{
     background-image: url('../images/kaftan.jpg');
    background-size: cover;
}

.image-wedding{
    background-image: url('../images/weddings.jpg');
    background-size: cover;
}
.desc > p{
    color: rgb(151, 153, 155);;
}

.parallax-banner{
    height: 40vh;
    width: 100%;
    background-color: rgb(202, 204, 206);
    border-radius: 10px;
    

}

.parallax-container{
    background-image: url('../images/carousel 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: burlywood !important;
    height: 60vh;
    width: 100%;
}
.section{
    margin-top: 100px !important;
}

.carousel{
    background-color: rgb(154, 155, 157);
    height: 70vh;
    width: 100%;
    border-radius: 10px;
}
.left-ad{
    background: url("../images//hero3.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-ad{
    background-color: antiquewhite;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.loadmorebtn{
    background-color: black !important;
    color: #fff !important;
    border-radius: 30px !important;
    font-size: small !important;
}

.navsearch{
    height: auto !important;
}
.footer{
    background-color: var(--lightgrey);
    padding: 50px 0px;
}
.copyright{
    font-size: small;
    color: black;
}

.hero-left{
    background-color: beige;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hero-right{
    background-color: lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}