.profile-dp {
    background-color: grey;
    height: 300px;
    width: 100%;
    border-radius: 20px;
}

.meta>div {
    font-size: smaller;
}

.desc {
    color: grey;
    line-height: normal;
}

.categories>h6 {
    color: grey;
}

.categories>span {
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 0px 5px 0px 0px;
    color: white;
    font-size: small;
}

.loc>h6 {
    color: grey;
}

.socials>span {
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 50px;
    margin: 0px 5px 0px 0px;
}

.featured-designs {
    position: relative;
}

.featured-designs>img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.featured-designs>p {
    position: absolute;
    top: 90%;
    left: 50%;
    /* background-color: rgb(192, 190, 190); */
    /* padding: 5px; */
    border-radius: 20px;
    transform: translate(-50%, -50%);
    font-size: smaller;
    color: white;
    text-shadow: 1px 5px 8px rgba(0, 0, 0, 1);
    font-weight: bold;

}

.filters>div {
    margin: 0px 10px 0px 0px;

}

.filters select {
    border-radius: 30px !important;
    font-size: small;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.feat-section {}

.profile-content {
    padding-left: 50px !important;
}

.profile-dp {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 10px;
}

.profile-dp>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* mobile */
@media screen and (max-width: 767px) {
    .profile-content {
        padding-left: 30px !important;
        padding-top: 30px;
    }
    .profile-person{
        padding: 30px !important;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1024) {}